<header class="header wrapper">
  <div class="logo">
    <img src="../../assets/logo.svg" alt="logo" />
    <h1>Pharmacie de<br /><span class="logo-title-thin"> la mairie</span></h1>
  </div>
  <div class="header-info">
    <div class="header-info-tel">
      <img src="../../assets/icon_call.svg" alt="" />
      <p>
        Besoin d'une information<br />
        <span>08 78 45 98 67</span>
      </p>
    </div>
    <hr />
    <div class="header-info-time">
      <img src="../../assets/icon_clock.svg" alt="" />
      <p>
        Ferme dans <br /><span>{{ time }}</span>
      </p>
    </div>
  </div>
</header>
