.team {
    font-family: "Quicksand";
    border-bottom: none;
    box-sizing: border-box;
    padding: 0 1rem;
}

.team__title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    border-bottom: 2px solid #dedede;
}

.team__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team__card {
    background-image: linear-gradient(to top right, rgba(99, 184, 133, 0.8), rgba(43, 130, 83, 0.8)), url("../../../assets/team_bg.svg");
    border-radius: 10px;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.team__img img {
    max-width: 80%;
    border-radius: 50%;
    border: 4px solid #fff;
}

.team__name {
    color: var(--color-white);
    font-size: 1.75rem;
    font-weight: 500;
}

.team__status {
    font-family: "Roboto";
    color: var(--color-white);
    background: var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 6px;
    padding: 0.65rem 0.2rem;
    background-image: linear-gradient(to top right, rgba(251, 133, 116, 1), rgb(255, 169, 158));
}

/* Base Breakpoints TODO : A revoir */
@media (max-width: 576px) {
    .team__content {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

}

/* @media (min-width: 577px) {
    .team__content {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 70%;
    }
} */

@media (min-width: 800px) {
    .team__content {
        flex-direction: row;
        width: 100%;
    }
    .team__card {
        width: 22%;
    }
}

