<header class="header wrapper">
  <div class="logo">
    <img src="../../assets/logo.svg" alt="logo" />
    <h1>
      {{ "header.title" | translate }} <br />
      <span>{{ "header.sub-title" | translate }}</span>
    </h1>
  </div>
  <div class="header-info">
    <div class="header-info-tel">
      <img src="../../assets/icon_call.svg" alt="" />
      <p>
        {{ "header.info-tel" | translate }}<br />
        <a href="tel:{{ numero }}">{{ numero }}</a>
      </p>
    </div>
    <hr />
    <div class="header-info-time">
      <img src="../../assets/icon_clock.svg" alt="" />
      <p>
        {{ "header.info-time" | translate : shopStatus }}<br /><span>{{
          time
        }}</span>
      </p>
    </div>
  </div>
</header>
