header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Manjari", sans-serif;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.logo img {
  width: 65px;
}
.logo h1 {
  height: 55px;
  font-weight: bold;
  font-size: 1.6rem;
  word-wrap: break-word;
  text-align: center;
}
h1 span {
  font-weight: 100;
}
.header-info {
  display: flex;
  gap: 1rem;
}
.header-info > div {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  align-self: center;
  text-align: center;
}
.header-info-tel {
  font-size: 0.8rem;
}
.header-info-tel span {
  font-size: 1.25rem;
}
.header-info-tel img {
  width: 40px;
}
.header-info-time span {
  font-weight: bold;
  font-size: 1.2rem;
}
.header-info-time img {
  width: 35px;
}

@media (max-width: 740px) {
  header {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .header-info {
    flex-direction: column-reverse;
    gap: 0;
  }
  hr {
    display: none;
  }
}
