<header class="header wrapper">
  <div class="logo">
    <img src="../../assets/logo.svg" alt="logo" />
    <h1 i18n>titre</h1>
  </div>
  <div class="header-info">
    <div class="header-info-tel">
      <img src="../../assets/icon_call.svg" alt="" />
      <p i18n>
        Besoin d'une information<br />
        <span>{{ numero }}</span>
      </p>
    </div>
    <hr />
    <div class="header-info-time">
      <img src="../../assets/icon_clock.svg" alt="" />
      <p i18n>
        {{ shopStatus }} dans <br /><span>{{ time }}</span>
      </p>
    </div>
  </div>
</header>
