.home-cover {
    background-image: linear-gradient(to top right, rgba(99, 184, 133, 0.3), rgba(251, 133, 116, 0.3)), url("../../../assets/hero_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-cover__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 730px
}

.home-cover__texts {
    font-family: "Quicksand";
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    background-color: rgb(43, 77, 88, 0.95);
    width: 35%;
    padding: 3rem 1rem;
    border-radius: 4px;
}