<section class="history wrapper">
  <div class="history-title">
    <div class="title-line"></div>
    <img src="../../../assets/history-logo.svg" />
    <h2>{{ "history.title" | translate }}</h2>
    <div class="title-line"></div>
  </div>
  <div class="history-content">
    <img src="../../../assets/Ellipse 1.png" />
    <div class="history-text">
      <p>
        <span>{{ "history.green-content" | translate }}</span>
        {{ "history.first-content" | translate }}
      </p>
      <p>
        {{ "history.second-content" | translate }}
      </p>
    </div>
  </div>
</section>
