<section class="history wrapper">
  <div class="history-title">
    <div class="title-line"></div>
    <img src="../../../assets/history-logo.svg" />
    <h2>{{ "history.title" | translate }}</h2>
    <div class="title-line"></div>
  </div>
  <div class="history-content">
    <img src="../../../assets/Ellipse 1.png" />
    <div class="history-text">
      <p>
        <span>La Pharmacie de la mairie</span> est reconnue depuis sa création
        en 1866, pour son savoir-faire et son expertise dans le domaine des
        médecines naturelles.
      </p>
      <p>
        Au-delà de la délivrance de médicaments sur ordonnance, nous proposons
        un large éventail de produits naturels sélectionnés pour leurs qualités
        thérapeutiques ainsi que notre propre gamme de préparations réalisées
        par nos soins au sein de nos laboratoires, dans le respect des normes
        pharmaceutiques en vigueur en Suisse.
      </p>
    </div>
  </div>
</section>
