button {
  border: none;
  border-radius: 50px;
  background: var(--color-main);
  padding: 10px 15px;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.dark {
  background: var(--color-dark-main);
}

@media (max-width: 335px) {
  button {
    font-size: 1rem;
  }
}
